apiVersion: v1
kind: ConfigMap
metadata:
  name: llm-proxy
  labels:
    app: llmproxy
data:
  RC_API_BASE: http://148.187.108.172:8092/v1/service/llm/v1
  RC_PROXY_MASTER_KEY: ${RC_PROXY_MASTER_KEY}
  RC_VLLM_API_KEY: ${RC_VLLM_API_KEY}
  PG_HOST: ${PG_HOST}
  DISABLE_TRACKING: "0"
  LANGFUSE_HOST: https://cloud.langfuse.com
  LANGFUSE_PUBLIC_KEY: ${LANGFUSE_PUBLIC_KEY}
  LANGFUSE_SECRET_KEY: ${LANGFUSE_SECRET_KEY}
---
apiVersion: v1
kind: Service
metadata:
  name: lb-proxy-service
  labels:
    app: lb-proxy-service
spec:
  type: LoadBalancer
  ports:
  - name: llm-http
    port: 8080
    targetPort: 8080
  selector:
    app: llm-proxy
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: llm-proxy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: llm-proxy
  minReadySeconds: 30
  template:
    metadata:
      labels:
        app: llm-proxy
    spec:
      containers:
      - name: llm-proxy
        image: ghcr.io/xiaozheyao/llm-proxy:dev
        ports:
          - containerPort: 8080
        envFrom:
          - configMapRef:
              name: llm-proxy
      restartPolicy: Always